body {
    background: #484848;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
    overflow: hidden;
  }
  
  #gameboard {
    display: grid;
    gap: 1px;
  }
  
  .cell {
    width: 64px;
    height: 64px;
    background-size: cover;
  }
  
  /* Types de cellules du jeu */
  .empty    { background: #484848; }
  .wall     { background-image: url("./assets/Blocks/block_01.png"); }
  .box      { background-image: url("./assets/Crates/crate_02.png"); }
  .targetbox     { background-image: url("./assets/Environment/environment_02.png"); }
  .player   { background-image: url("./assets/Player/player_front_01.png"); }
  
  /* test : boîte sur une cible */
  /*.box-on-target {
    background-image: url("./assets/Environment/environment_01.png"), url("./assets/Crates/crate_01.png");
    background-size: cover;
    background-blend-mode: multiply;
  }*/
  
